@font-face {
  font-family: 'Cookie';
  font-style: normal;
  font-weight: 400;
  src: local('Cookie-Regular'), url(https://fonts.gstatic.com/s/cookie/v12/syky-y18lb0tSbf9kgqS1NDNpg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.App {
  text-align: center;
  > .profile {
    padding-top: 70px;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chart-wrap {
  width: 580px;
  h3, h2 {
    margin-bottom: 0;
    margin-left: 38px;
  }

  .legend {
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;

    .legend-item {
      margin-left: 0;
    }
    > * {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0.6em;
      box-sizing: border-box;
      font-weight: bold;
      font-size: 0.8em;
    }

    .color {
      width: 15px;
      height: 15px;
      margin-right: 1em;
      background: #3f49cc;
      border-radius: 2px;
      border: solid 2px #91a3ae;
    }

    .team .color {
      background: #ec1c27;
    }

    .dm .color {
      background: #0afc05;
    }

    .teamDm .color {
      background: #fbfd15;
    }
  }
}
.flex {
  display: flex;
  justify-content: space-between;
}


.civ-icon {
  background-image: url("/aoe2-civs.png");
  background-repeat: no-repeat;
  width: 37px;
  height: 37px;
  background-position-x: 0px;
  background-position-y: 0px;
  background-size: 700%;
}
.map-icon {
  background-image: url("/aoe2-maps.png");
  background-repeat: no-repeat;
  width: 40.3px;
  height: 40.3px;
  background-position-x: 0px;
  background-position-y: 0px;
  background-size: 1000%;
}
.civ-icon-with-label {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  font-weight: bold;
  font-size: 1.2em;
  width: 148px;
}
.wrap-960 {
  width: 960px;
  margin: 0 auto;
}
body{
  background: #111111;
  color: white;
}
.player-header {
  color: white;
  padding: 1em;
  font-weight: bold;
  background: #222222;
  border-bottom: solid 2px #111111;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;

  .wrap-960 {
    display: flex;
    justify-content: space-between;

    .player-main {
      display: flex;
      font-size: 1.3em;
      align-items: center;

      .player-name {
        margin-left: 0.5em;
      }
    }

    span.games-detail {
      font-weight: normal;
      font-size: 0.7em;
    }

    .games-played {
      text-align: right;
    }

    .games-played-total > *:first-child {
      margin-right: 0.5em;
    }
  }
}
.civ-table, .map-table {
  .civ-icon {
    margin-right: 0.5em;
  }
  .civ-with-name {
    display: flex;
    align-items: center;
  }

  th {
    text-align: left;
  }
}

.map-with-name {
  display: flex;
  align-items: center;
  .map-icon {
    margin-right: 1em;
  }
}

table {
  background: #222222;
  padding-right: 0;
  border-collapse: collapse;
  width: 100%;

  th:nth-child(2), th:nth-child(3) {
    width: 100px;
    text-align: center;
  }

  .map-with-name {
    display: flex;
    align-items: center;
  }

  .map-with-name .map-icon {
    margin-right: 1em;
  }

  th:nth-child(2), th:nth-child(3) {
    width: 100px;
    text-align: center;
  }
  td, th {
    border: solid 1px black;
    border-left: none;
    border-right: none;
  }

  td:first-child, th:first-child {
    padding-left: 1em;
  }

  th {
    padding: 1em 0;
  }
}
.map-table {
  td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}
.aoe2-profile {
  font-size: 1.7em;
}
.game-content-useage-notice{
  font-size: 0.7em;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: left;
}
.stats {
  margin-left: 60px;
  text-align: left;
  margin-top: 1em;

  > * {
    margin-bottom: 1em;
  }

  .games-played {
    display: flex;
    align-items: center;
  }

  .games-played-total {
    flex-grow: 1;
  }

  span.games-detail {
    font-size: 0.7em;
  }

  label {
    margin-right: 0.5em;
  }
}
.display-none {
  display: none;
}
.civ-icon-with-label {
  display: flex;
  flex-direction: row;
  background: #222;
  width: 100%;
  justify-content: space-between;
  padding: 0.3em 0.5em;
  box-sizing: border-box;
  margin-top: 0.5em;
  font-weight: normal;
  font-size: 1em;
  height: 55px;
  align-items: center;
  overflow: hidden;
}

.favorite-civ, .favorite-map {
  margin-right: 0.5em;
  flex-grow: 1;
}

.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
  background: #222222;
  color: white;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline {
  color: white;
  border-color: white;
}

svg.MuiSvgIcon-root.MuiSelect-icon {
  color: white;
}

div.MuiInput-underline:before {
  border-color: white;
}
h2 {
  font-size: 1.2em;
}

a.bmc-btn {
  font-size: 20px;
  height: 42px;
  margin-right: 1em;
  padding:  0 20px;
}

.bmc-btn-container{
  display: none;
}

.find-user {
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;

  label {
    margin-right: 1em;
  }

  button {
    background: #111111;
    outline: none;
    border: none;
    margin-left: 1em;
    padding: 0.5em 1em;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
  }

  label {
    font-weight: bold;
  }

  input {
    background: none;
    border: none;
    border-bottom: 1px #111111 solid;
    padding-bottom: 5px;
    font-size: 1em;
    color: white;
  }

  .username-input {
    background: #333;
    padding: 1em;
    display: flex;
    align-items: center;
  }
  .logo {
    font-size: 2em;
    font-weight: bold;
    color: white;
  }

  button {
    cursor: pointer;
  }
  button[disabled]{
    opacity: 0.7;
    cursor: not-allowed;
  }

  .message {margin-top: 2em;margin-bottom: 2em;font-size: 0.8em;}

  .fine-print {
    font-size: 0.4em;
    margin-top: 1em;
    font-style: italic;
  }
}

.bmc-btn svg {
  height: 30px !important;
  margin-bottom: 1px !important;
  box-shadow: none !important;
  border: none !important;
  vertical-align: middle !important;
  transform: scale(0.9);
}

.bmc-btn {
  color: #fff;
  background-color: #000000 !important;
  height: 60px;
  border-radius: 12px;
  font-size: 26px;
  border: none;
  padding: 0px 24px;
  line-height: 27px;
  text-decoration: none !important;
  display: inline-flex !important;
  align-items: center;
  font-family: 'Cookie', cursive !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.bmc-btn:hover, .bmc-btn:active, .bmc-btn:focus {
  text-decoration: none !important;
  cursor: pointer;
}

.bmc-btn{
  .bmc-btn-text {
    margin-left: 8px;
    display: inline;
    line-height: 0;
  }

  .logo-outline {
    fill: #fff;
  }

  .logo-coffee {
    fill: #fd0;
  }
}


.loading {
  font-size: 100px;
  min-height: 300px;
  flex-grow: 1;display: flex;justify-content: center;align-items: center;
}

body {
  min-height: 100vh;
}

div#root {min-height: 100vh;}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.civ-table th:first-child {
  width: 150px;
}


@media screen and (min-width: 1280px) {
  .wrap-960 {
    width: 1280px;
  }
  .chart-wrap {
    width: 740px;
  }
  .main-panel {
    min-width: 740px;
  }
  .civ-table th:first-child {
    width: 280px;
  }
  .civ-table td {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.game-content-useage-notice a {
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .wrap-960 {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .chart-wrap {
    width: 100%;
  }


  .player-header {
    font-size: 0.6em;
  }

  .MuiInputBase-root.MuiInput-root.MuiInput-underline {
    font-size: 0.7em;
  }

  .player-header {
    padding-left: 0;
    padding-right: 0;
  }

  .player-header .wrap-960 {
    display: flex;
    align-items: center;
  }

  .wrap-960.flex {
    flex-direction: column;
  }

  .stats {
    margin: 0;
  }

  a.bmc-btn {
    font-size: 1em;
    padding: 0.2em 0.5em;
    height: 26px;
    border-radius: 5px;
  }

  .bmc-btn svg {
    height: 18px !important;
  }
  .player-header a.bmc-btn {
    position: absolute;
    top: 58px;
    font-size: 1.7em;
    height: 35px;
    width: 120px;
    right: 10px;
    background-color: #222323 !important;
  }

  .MuiInputBase-root.MuiInput-root.MuiInput-underline {
    font-size: 0.9em;
  }

  .player-header {
    position: relative;
  }

  .App > .profile {
    padding-top: 0;
  }

  .wrap-960.game-content-useage-notice:last-child {
    margin-top: 0;
  }

  .games-played {
    font-size: 0.6em;
  }

  .chart-wrap .legend {
    margin-left: 0;
  }
}